:host {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    margin: 5px;

    .forecast-tile {
        border: 1px solid #ececec;
        height: 150px;
        margin-bottom: 10px;

        h4 {
            text-align: center;
        }
        
        .weather-icon {
            img {
                margin: auto;
                display: block;
            }
        }
    }
    span {
        font-size: 12px;
        text-align: center;
    }
}



