:host {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 150px;
    border: 1px solid #ececec;
    margin: 5px;
}

h4 {
    text-align: center;
}

.weather-icon {
    img {
        margin: auto;
        display: block;
    }
}

span {
    font-size: 12px;
    text-align: center;
}