<mat-toolbar color="primary">
  <h1>{{title}}</h1>
</mat-toolbar>

<section class="container">
  <mat-spinner *ngIf="!isLoading"></mat-spinner>
  <div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="setCity()">
      <mat-form-field>
        <input matInput formControlName="search" name="search" placeholder="Find weather in your city">
        <mat-hint>City's name, comma, 2-letter country code (ISO3166)</mat-hint>
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit" [disabled]="searchForm.invalid">Search</button>
    </form>
  </div>
  <div class="weather" *ngIf="weatherObj">
    <h2>{{weatherObj.name}}</h2>
    <h3>{{weatherObj.weather[0].description}}&nbsp;{{weatherObj.main.temp + "°"}}</h3>
    <div class="weather-icon">
      <img src="http://openweathermap.org/img/wn/{{weatherObj.weather[0].icon}}@2x.png">
    </div>
  </div>
</section>