:host, .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

mat-toolbar {
    min-height: 64px;
}

.container {
    mat-spinner {
        margin: auto;
    }
    .weather {
        margin: 20px auto;
    }

    .search-container {
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: fit-content;
            margin: 20px auto;

            mat-form-field {
                min-width: 300px;
                margin-bottom: 10px;
            }

            button {
                color: #ffffff;
                margin: auto 10px;
                max-height: 35px;
            }
        }
        .error {
            color: #ff5447;
            display: block;
            text-align: center;
            font-size: 14px;
            padding-top: 10px;
        }
    }
    .forecast-container {
        display: flex;
        flex-direction: row;
        max-width: 600px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}
