<mat-toolbar color="primary">
  <h1>{{title}}</h1>
</mat-toolbar>

<section class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="setCity()">
      <mat-form-field>
        <input matInput formControlName="search" name="search" placeholder="Find weather in your city">
        <mat-hint>City's name, comma, 2-letter country code (ISO3166)</mat-hint>
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit" [disabled]="searchForm.invalid">Search</button>
    </form>
    <span class="error" *ngIf="error">{{error.message}}</span>
  </div>
  <div class="weather" *ngIf="weatherObj && !isLoading">
    <main-tile [weatherData]="weatherObj"></main-tile>
  </div>
  <div class="forecast-container" *ngIf="forecastObj">
    <div *ngFor="let forecast of forecastObj.list">
      <forecast-tile [forecastData]="forecast"></forecast-tile>
    </div>
  </div>
</section>